html
	head
		title= title

		link(rel="stylesheet", href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic")
		link(rel="stylesheet", href="./css/typegrid.css")
		link(rel="stylesheet", href="./css/style.css")

		script(src='https://cdn.socket.io/socket.io-1.4.3.js')
		script(src='./js/dataViewHandler.js')

	body
		section#browsing-data
			.container
				.desktop-8.columns
					h2 Browsing Data
					p.desc 100 latest activities are shown below. 
						br
						| Browsing data from TrackBrowser will be updated in real-time. 
						
				.desktop-4.columns
					a#link-export-csv.button(href="./export/csv") 
						i.icon.ion-ios-cloud-download-outline
						| Export to CSV
				
				.clear
				
				.desktop-2.columns
					h3 Date
				
				.desktop-1.columns
					h3 User
				
				.desktop-2.columns
					h3 Event
					
				.desktop-7.columns
					h3 Details
				
				#items-wrapper
					each dataRow in browsingDataArr
						.item
							.desktop-2.columns
								p.date= dataRow.date
								
							.desktop-1.columns
								p.user= dataRow.userName
								
							.desktop-2.columns
								p.event-type= dataRow.type
								
							.desktop-7.columns
								- if (dataRow.type === "navigation")
									p
										| User navigated to <a href="#{dataRow.url}">#{dataRow.url}</a>. 
								
								- else if (dataRow.type === "screenshot")
									p
										| A screenshot was uploaded for page 
										a(href="#{dataRow.url}") #{dataRow.url}
										| .
									
									a.link-screenshot(href="http://52.32.246.19:8082/screenshot/#{dataRow.fileName}")
										img(src="http://52.32.246.19:8082/screenshot/#{dataRow.fileName}").screenshot-thumbnail

								- else if (dataRow.type === "click")
									p
										| User clicked in <a href="#{dataRow.url}">#{dataRow.url}</a>.

								- else if (dataRow.type === "scroll")
									p
										| User scrolled in <a href="#{dataRow.url}">#{dataRow.url}</a>.

								- else if (dataRow.type === "input")
									p
										| User typed "#{dataRow.inputValue}" into an #{dataRow.type} element (id: #{dataRow.inputId}, name: #{dataRow.name}) in <a href="#{dataRow.url}">#{dataRow.url}</a>.

								- else if (dataRow.type === "research-topic")
									p
										| User has updated research topic. 
									
									h4 Research Topic
									- if (dataRow.researchTypeKey === "other") 
										span Other (#{dataRow.researchTypeOtherReason})
									- else
										span= dataRow.researchType
										
									h4 Research Companies
									span= dataRow.researchCompanies

								- else if (dataRow.type === "tracking-status")
									- var isTrackingOnStr = (dataRow.isTrackingOn == 'true') ? "on" : "off";
									p
										| User has turned #{isTrackingOnStr} tracking status.
									
								- else if (dataRow.type === "file-download")
									p
										| User has downloaded file #{dataRow.fileName}. 
										
								- else if (dataRow.type === "picture-selection")
									p
										| Daily picture has been selected. 
									img(src="http://52.32.246.19:8082/pictures/#{dataRow.fileName}").screenshot-picture-display
								
								
							.clear
						
						
						